:root {
    --background-color: #daa520;
    --button-color: #6b8e23;
    --header-color: #ff8c00;
    --text-color: #ffe9c9;
    --global-padding: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    padding-top: 4rem;
    background-color: var(--secondary-color);
}

.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-img-logo {
    height: 50px;
    min-width: 300px;
}

.form-inline {
    height: 50px;
}

.main-content {
    margin-left: 5rem;
    margin-right: 5rem;
}

.list-title {
    font-size: max(200%, 5vmin);
    color: var(--text-secondary-color);
}

:is(first-child, :last-child) .list-group-item {
    border-radius: 0;
}

.list-group-item {
    padding: 1rem;
    background-color: transparent;
}

.pokemon-card {
    background-color: var(--card-color);
    border-radius: 5px;
    min-width: 160px;
}

.pokemon-card:hover {
    opacity:0.8;
}

.pokemon-card > p {
    color: var(--text-primary-color);
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pokemon-card > img {
    width: 120px;
    height: 120px;
}

/**Modal**/
.modal-content {
    border: 2px var(--primary-color);
    border-radius: .5rem;
}

.modal-header {
    border: none;
    padding: 5px;
}

.modal-title {
    font-size: 2rem;
    color: var(--text-secondary-color);
}

.modal-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal-header, .btn-close {
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
}

.btn-close {
    z-index: 99;
    border-color: transparent;
    cursor: pointer;
    transform: scale(2) translate(-1.2rem, 0.2rem);
}

.modal-footer {
    border: none;
}

.pokemon-img {
    height: 200px;
    width: 200px;
    align-self: center;
}

.modal-body p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.modal-body .text-bold {
    font-weight: bold;
    color: var(--text-primary-color);
}

.pokemon-type {
    display: inline-block;
    padding: 2px 1rem;
    margin: 2px;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
}

/**Scroll up arrow**/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: transparent;
    border-radius: 50%;
    background-color: var(var--card-color);
}

/**Message load**/
.loading {
    display: none;
    position: foxed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--secondary-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: var(--text-secondary-color);
}

.loading.show {
    display: flex;
}

@media screen and (max-width: 576px) {
    .main-content {
        margin-left: .5rem;
        margin-right: .5rem;
    }
    #btn-back-to-top {
        transform: scale(80%);
    }
    .list-group {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    #btn-back-to-top {
        bottom: 10px;
        right: 10px;
    }
    .pokemon-card {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-content: flex-end;
        align-items: center;
        flex-basis: 50%;
        padding: 5px;
    }
    .pokemon-card > img {
        width: 80px;
        height: 80px;
    }
    .pokemon-card > p {
        font-size: 24px;
        margin-bottom: 0;
    }
    .navbar-img-logo {
        min-width: 200px;
    }
    .modal-title {
        font-size: 24px;
    }
    .modal p {
        font-size: 20px;
    }
    .btn-close {
        transform: scale(1) translateX(-2rem);
    }
}

@media screen and (max-width:360px) {
    .pokemon-card > img {
        display: none;
    }
    .pokemon-card {
        align-self: center;
    }
    .pokemon-type {
        padding: 2px 4px;
    }
}
/* .button-class {
    background-color: #4da185;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}

html,
body {
    font-family: Arial, sans-serif;
}

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    z-index: 999;

    overflow: auto;

    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    display: block;
} */